# -*- mode: ruby -*-
# vi: set ft=ruby :

Vagrant.configure("2") do |config|
  config.vm.box = "ubuntu/trusty32"
  config.vm.provider "virtualbox" do |vb|
    vb.gui = true
    vb.memory = 512
    vb.customize ["modifyvm", :id, "--ioapic", "on"]
    vb.cpus = 2
    # placeholder
  end
   config.vm.provision "shell", path: "provision.sh"
end
